body { 
    font-family: "Nunito Sans", sans-serif; 
    font-size: 1.2em;
    padding: 0em;
    margin: 0em;
    background-color: $color-neutral;
    color: $color-text;
}
button {
    color: $color-text;
    font-size: 1.2em;
}