.container {
   
    transition: margin 1s;
    &.menu-open {
        margin-left: $menu-width
    }
    &.menu-minimized {
        margin-left: $menu-width-minimized
    }
    &.menu-closed {
        margin-left: 0
    }

    &.content {
        padding: 3em;
        max-height: 100vh;
        box-sizing: border-box;
        margin-right: 0.2em;
    }
}

.simplebar-scrollbar:before {
    background-color: $color-text;
}