@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu 
{
    background-color: $color-accent;

    &.main 
    {
        transition: width 1s;
        display: block;
        position: fixed;
        top:0;
        left:0;
        height:100vh;
        width: 0em;
        overflow: hidden;
        padding-top: 3em;
        padding-bottom: 3em;
        box-sizing: border-box;
        .menu-text {
            overflow:hidden;
            white-space: nowrap;
            transition: opacity 500ms, flex-grow 500ms;
        }
        &.open {
            width:$menu-width;
            .menu-text {
                opacity: 1;
                flex-grow:1;
            }
        }
        &.minimized {
            width: $menu-width-minimized;
            .menu-text {
                opacity: 0;
                flex-grow:0;
            }
        }

        & .menu-item {
            border-radius: 0;
            width:100%;
        }

        & .expander {
            width: 100%;
            position: absolute;
            bottom: 3em;
            & button {
                width:100%;
                white-space: nowrap;
                background-color: #0000;
                border: 0;
                box-sizing: border-box;
                padding: 1em;
                &:hover {
                    background-color: #0001;
                }
            }
        }
    }
}