li.menu-item{
    border-radius: $border-radius;
    list-style: none;
    display:inline-block;
    transition: background-color 500ms;
    &:hover {
        background-color: $color-highlight;
    }
    &.disabled, &.disabled.hoverable:hover{
        background-color: rgba(0,0,0,0.10);
        color: $color-text-inactive;
        & a {
            cursor: default;
        }
    }
    white-space: nowrap;
    & svg {
        margin: calc($menu-width-minimized / 6) calc($menu-width-minimized / 4.25);
    }
    & a {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
    }
    & .menu-text {
        position:relative;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        flex-grow: 1;
        text-align: left;
        padding-right: calc($menu-width-minimized / 4.25);
        transition: padding-right 500ms;
    }
    & .alert-container {
        opacity: 0;
        transition: opacity 1s;
        pointer-events: none;
    }

    &.alert {
        & .menu-text{
            padding-right: calc($menu-width-minimized / 4.25 + 2em);
        }
        & .alert-container {
            position:absolute;
            pointer-events: all;
            right: 0em;
            opacity: 1;
        }
    }
}