.subscreen {
    & .header {
        display:flex;
        flex-wrap: nowrap;
        & .title {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 1em;
        }
        & .action{
            flex-grow: 0;
        }
    }
    
    & .back {
        position:absolute;
        left:-2.5em;
        margin-top:0.25em;
        & .menu-text {
            display:none;
        }
    }

    & .subscreen-content{
        display:grid;
        gap:1em;
        grid-template-columns: 1fr;
    }
}