.field {
    position: relative;

    & label {
        top:0px;
        font-weight: bold;
    }
}

div:has(>.field){
    display:grid;
    gap:1em;
    grid-template-columns: 1fr;
}

input, textarea, .select > .gf__control, .file-selector {
    font-size: 1em;
    background: none;
    border: $border-thickness solid $color-accent;
    border-radius: $border-radius;
    color: $color-text;
    width: 100%;
    box-sizing: border-box;
}

input, textarea {
    padding: 0.5em;
}

textarea {
    resize: none;
    overflow: hidden;
}
